/* ///////////////
  Reset
  ////////////// */

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --clr-neutral-400:#4E4E4E;
  --clr-neutral-300:#E5E3E8;
  --clr-neutral-200:#FAFAFA;
  --clr-neutral-100:#fff;

  --clr-accent-100:#00a1ab;
  --clr-accent-200:#114243;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}
section{
  margin: 0;
  padding: 5rem 0;
}
.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--clr-accent-100);
}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1000px;
}

.bg-light {
  --bg : var(--clr-neutral-400);
  --fg : var(--clr-neutral-100);
  --txt : var(--clr-accent-100);
  color: var(--clr-neutral-400);
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
}

.bg-dark{
  --bg : var(--clr-accent-100);
  --fg : var(--clr-neutral-100);
  --txt : var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-400);
}

.bg-accent {
  --bg : var(--clr-neutral-100);
  --fg : var(--clr-neutral-400);
  --txt : var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  background: linear-gradient(-45deg, #00a1ab, #3741a0);
}


/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--bg,var(--clr-accent-100));
  color: var(--fg,var(--clr-neutral-100));
}

/* ///////////////
  Plans
  ////////////// */

.plans {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.plan {
  width: 16.5rem;
  padding: 2em;
  border-radius: 1em;
  margin: 0 0.5rem;
}
.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
  color: var(--txt,var(--clr-neutral-100));
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

/* ///////////////
  Teams
  ////////////// */
.team{
  background-color: #fafafa;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  color: var(--clr-neutral-400);
}

.team-member {
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;
  line-height: 1.6;
}
.team-member img {
  width: 10rem;
  border-radius: 0.25em;
  margin-right: 1rem;
}
.team-member .name{
  margin: 0;
  font-size: 1.8rem;
  color: var(--txt);
  line-height: 1;
}
.team-member .position{
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.8;
}
.team-member--mirrored img{
  order: 2;
  margin-right: 0;
  margin-left: 1rem; 
}
.team-member.team-member--mirrored{
  padding: 0.5em 0.5em 0.5em 2em;
}
